[defaults]
roles_path = ./roles

retry_files_enabled = false

result_format = yaml

callbacks_enabled = profile_tasks

gathering = smart
fact_caching = jsonfile
fact_caching_connection = ~/.ansible/facts_cache
fact_caching_timeout = 7200

interpreter_python = auto_silent

host_key_checking = false

[diff]
always = true

[ssh_connection]
pipelining = true

ssh_args = -o ControlMaster=auto -o ControlPersist=60s
control_path_dir = ~/.ansible/cp
control_path = %(directory)s/%%h-%%r
